{% extends "enhydris-synoptic/base.html" %}
{% load i18n %}


{% block title %}
  {% blocktrans with name=object.station.name %}
    Conditions at {{ name }}
  {% endblocktrans %}
{% endblock %}


{% block content %}
  {% block breadcrumbs %}
    <ol class="breadcrumb">
      <li><a href="../../">{% blocktrans with name=object.synoptic_group.name %}{{ name }} current conditions report{% endblocktrans %}</a></li>
      {% url 'station_detail' object.station.id as station_page %}
      <li class="active"><a href="{{ station_page }}">{{ object.station.name }}</a></li>
    </ol>
  {% endblock %}
  <h1>{% blocktrans with name=object.station.name %}Conditions at {{ name }}{% endblocktrans %}</h1>
  <div class="panel panel-default">
    <div class="panel-heading">{% trans "Latest measurements" %}</div>
    <div class="panel-body">
      {% include "enhydris-synoptic/groupstation-report.html" %}
    </div>
  </div>
  <div class="charts">
    <center>
      {% for synoptic_timeseries in object.synoptictimeseries_set.primary %}
        <h2>{{ synoptic_timeseries.get_title }}</h2>
        <img src="../../../chart/{{ synoptic_timeseries.id }}.png">
        <hr>
      {% endfor %}
    </center>
  </div>
{% endblock %}
