{% load i18n %}
{% load tz %}

{% if object.error %}
  {% blocktrans %}
    <p>Something's wrong with the data of this report. Check if the
      time series are all the same time step.</p>
  {% endblocktrans %}
{% else %}
  {% localtime off %}
    <dl class="dl-horizontal">
      <dt>{% trans "Last update" %}</dt><dd>{{ object.last_common_date_pretty }}</dd>
      <dt>&nbsp;</dt><dd></dd>
      {% for syntsg in object.synoptic_timeseries_groups %}
        <dt>
          {{ syntsg.title|default:syntsg.timeseries_group.name }}
          {% if syntsg.subtitle %}
            ({{ syntsg.subtitle }})
          {% endif %}
        </dt>
        {% with precision=syntsg.timeseries_group.precision|default:0 %}
          <dd>{{ syntsg.value|floatformat:precision }} {{ syntsg.timeseries_group.unit_of_measurement.symbol }}</dd>
        {% endwith %}
      {% endfor %}
    </dl>
  {% endlocaltime %}
{% endif %}
